// Define colors
// ------------------------------------------------
$theme-colors: (
  "primary": #EF3340,
  "dark": #494F66,
);

// Fonts
// ------------------------------------------------
$font-size-base: 1rem;
$font-family-base: 'Roboto', sans-serif;

// Libraries
@import '~bootstrap/scss/bootstrap';

// Local styles
@import "base/index";
@import "layout/index";
@import "components/index";
@import "pages/index";
